.Transaction-card-close {
    flex-direction: row;
    border: 2px solid #c3c6ce;
    padding: 15px;
}

.Transaction-hash {
    width: 90%;
    font-weight: bold;
}

.arrow-button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
  
.arrow-button i {
    width: 25%;
    color: #000;
    transition: transform 0.3s ease;
}
  
.arrow-button:hover i {
    transform: scale(1.2);
}
  
.arrow-left {
    margin-right: 10px;
}
  
.arrow-right {
    margin-left: 10px;
}
  
  